body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p {
  font-size: 14px;
}

p.main {
  font-size: 20px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
    background-color: black;
    color: white
}

.legend {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2000;
}

.dot {
  opacity: 0.5;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.rec {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.sharing {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2000;
  background-color: black;
  color: white
}

a {
  font-size: 14px;
}

a:link {
  color: white;
  font-weight: bold;
}

a:visited {
  color: grey;
  font-weight: bold;
}

button {
  background-color: #565656;
  border: 1px solid white;;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
